ul {
    list-style: none;
}

.li-subtitle {
    margin-left: 30px;
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: grey;
}

#save-list-button {
    margin-bottom: 5px;
}

.todoListItems-section ul {
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px;
}